{
  "env": {
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "extends": [
        "react-app",
        "react-app/jest",
        "eslint:recommended",
        "prettier/react"
    ],
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "rules": {
    "no-console": "warn",
    "no-unused-vars": [
      "warn", 
      {
        "varsIgnorePattern": "React"
      }
    ],
    "quotes": ["warn", "single"],
    "semi": ["warn", "always"],
    "indent": ["warn", 4],
    "no-multi-spaces": ["warn"],
    "no-multiple-empty-lines": ["warn", { "max": 1, "maxEOF": 1 }]
  }
}